<div class="panel panel-primary">
  <div class="panel-heading">

    {{pageTitle}}

  </div>
  <br>
  <div class='row'>
    <div class='col-md-2'>Filter by:</div>
    <div class='col-md-4'>
      <input type='text' [(ngModel)]='listFilter' />
    </div>
  </div>
  <div class='row'>
    <div class='col-md-6'>
      <h3>Filtered by: {{listFilter}} </h3>
    </div>
  </div>
  <table class="table table-striped table-hover" *ngIf='produits && produits.length'>
    <thead>
      <tr>
        <th><button class='btn btn-primary' (click)='toggleImage()'>
                                {{showImage ? 'Hide' : 'Show'}} Image
                            </button></th>
        <th>Code</th>
        <th>Nom</th>
        <th>Date production</th>
        <th>Prix unitaire</th>
        <th>Note</th>
        <th>Manage products</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let produit of produits | productFilter:listFilter">

        <td><img *ngIf='showImage' [src]="produit.imageUrl" alt=""></td>
        <td>{{produit.code|lowercase}}</td>
        <td>{{produit.nom}}</td>
        <td>{{produit.dateProduction|date:"short"}}</td>
        <td>{{produit.prixUnitaire|currency:'USD':true:'1.2-2'}}</td>
        <td>
          <ai-star [rating]='produit.starRating' (ratingClicked)='onRatingClicked($event)'>
          </ai-star>
        </td>
        <td>
          <button type="button" class="btn btn-danger" (click)="supprimer(produit)">Supprimer</button>
        </td>
      </tr>
    </tbody>
  </table>


</div>